section {
  display: flex;

  @media (max-width: 700px) { flex-direction: column; }

  .left {
    width: 70%;
    height: 100%;
    margin: 0 12px;

    .first {
      h2 {
        color: var(--text);
      }

      .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;

        overflow: auto;
        scroll-snap-type: x proximity;

        &::-webkit-scrollbar {
          height: 8px;
        }

        .card {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          width: 16rem;

          mix-blend-mode: normal;
          filter: drop-shadow(0px 8px 28px rgba(0, 0, 0, 0.4));
          border-radius: 8px;

          margin: 0 24px 10px 0;

          img {
            border-radius: 8px 8px 0 0;
          }

          .play_white {
            background: url('@/assets/images/icons/play_white.svg') no-repeat;
            width: 52px;
            height: 52px;
            background-size: 52px;

            position: absolute;
            bottom: 65px;
            left: 197px;

            cursor: pointer;
            z-index: 3;
          }

          .content {
            width: 100%;
            height: 100%;

            backdrop-filter: blur(5px);
            border-radius: 0 0 8px 8px;

            h5 {
              color: var(--color);
              margin: 15px 0 5px 16px;
              text-transform: uppercase;
            }

            h3 {
              color: var(--text);
              margin: 0 16px;
            }
            p {
              color: var(--sub-text);
              margin: 5px 0 10px 16px;
            }
          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    @media (max-width: 700px) { width: 100%; }
  }

  .right {
    width: 30%;
    height: 100%;

    .top {
      margin: 8px;
      padding: 10px;

      background: var(--sub-main);
      box-shadow: 0 3px 21px rgb(16 18 35 / 30%);
      border-radius: 9px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;

        h3 {
          margin: 5px 0;
          color: var(--text);
        }

        a {
          color: var(--color);
        }
      }

      .musics {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 50vh;

        .track {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          cursor: pointer;
          margin: 5px 0;

          .details {
            display: flex;
            align-items: center;

            #index {
              margin: 0 7px 0 0;
            }

            p {
              margin: 0;
              color: var(--sub-text);
            }

            img {
              border-radius: 2px;
            }

            .info {
              display: flex;
              flex-direction: column;
              margin: 5px;

              h6 {
                font-weight: bold;
                font-size: 0.9rem;
                margin: 0;
                color: var(--text);
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;
            margin: 5px;

            > div {
              margin: 5px;
            }

            #like_music {
              background: url("@/assets/images/icons/heart_empty.svg") no-repeat;
              background-size: 1.5rem;
              width: 1.5rem;
              height: 1.5rem;
              filter: invert(52%) sepia(7%) saturate(362%) hue-rotate(100deg) brightness(97%) contrast(88%);
            }

            #menu {
              background: url("@/assets/images/icons/menu.svg") no-repeat;
              background-size: 1.5rem;
              width: 1.5rem;
              height: 0.4rem;
              filter: invert(52%) sepia(7%) saturate(362%) hue-rotate(100deg) brightness(97%) contrast(88%);
            }
          }
        }
      }

      .more {
        display: flex;
        justify-content: center;

        p {
          cursor: pointer;
          color: var(--sub-text);
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      margin: 8px;

      .title {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        h3 {
          margin: 1rem 5px;
          color: var(--text);
        }

        a {
          margin: 1rem;
          color: var(--color);
          cursor: pointer;
        }
      }

      .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .genre {
          border-radius: 3px;
          margin: 5px;

          .img {
            color: var(--text);
            width: 100%;
            height: 11vh;

            font-size: 1.5rem;
            font-family: 'Inter', sans-serif;
            font-weight: 600;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
          }
        }
      }
    }

    @media (max-width: 700px) { width: 100%; }
  }
}
