.source_control {
  display: flex;
  justify-content: center;

  #switch {
    margin: 1rem 0 0 0;
    width: 115px;
    height: 40px;
  }

  .toggle {
    border: 2px solid var(--sub-text);
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;

    .toggle-text-off {
      line-height: 36px;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: bold;

      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      cursor: pointer;
      color: var(--sub-text);
    }

    /* used for streak effect */
    .glow-comp {
      opacity: 0;
      border-radius: 6px;
      background-color: rgba(75, 122, 141, .1);
      box-shadow: 0 0 12px rgba(75, 122, 141, .2);
      -webkit-transition: opacity 4.5s 1s;
      transition: opacity 4.5s 1s;
    }

    .toggle-button {
      width: 28px;
      bottom: 4px;
      right: 39px;
      background-color: var(--sub-text);
      border-radius: 19px;
      cursor: pointer;
      -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
      transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    }

    .toggle-text-on {
      line-height: 36px;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */


      color: rgba(0,0,0,0);
    }
  }

  .toggle-on {
    border-color: var(--color);
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;

    .toggle-button {
      width: 65px;
      border-radius: 23px;
      background-color: var(--color);
      box-shadow: 0 0 16px #4b7a8d;
      -webkit-transition: all .2s .1s, right .1s;
      transition: all .2s .1s, right .1s;
    }

    .toggle-text-on {
      color: var(--color);
      -webkit-transition: color .3s .15s ;
      transition: color .3s .15s ;
    }

    .toggle-text-off {
      display: none;
      color: rgba(0,0,0,0);
    }

    .glow-comp {
      opacity: 1;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }
  }

}

.result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    margin: 5px;
    width: 12.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow: hidden;
    cursor: pointer;

    > img {
      width: 12.5rem;
      box-shadow: rgb(25 25 34 / 30%) 0 1px 6px;
      border-radius: 4px;
    }

    .video_cover {
      width: 320px;
      height: 180px;

      box-shadow: rgb(25 25 34 / 30%) 0 1px 6px;
      border-radius: 4px;
    }

    .rounded_img {
      border-radius: 50%;
    }
  }

  .artist_section {
    align-items: center;

    .sub-text {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.tracks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 75vh;

  > div {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    overflow: hidden;
    cursor: pointer;
    margin: 5px;
    width: auto;

    > img {
      width: 5rem;
      box-shadow: rgb(25 25 34 / 30%) 0 1px 6px;
      border-radius: 4px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      h4, p {
        margin: 5px 0 0 5px;
      }

    }
  }
}

h1, h3, label {
  color: var(--text);
}

h3 {
  margin: 5rem 0 1rem 0;
  font-size: 2rem;

  &:first-of-type {
    margin: 1rem 0 1rem 0;
  }
}

h4, h5 {
  color: var(--text);
  margin: 5px 0 0 0;
  font-weight: bold;
}

.sub-text:hover {
  text-decoration: underline;
}

p {
  color: var(--text);
  margin: 0;
}

h5 {
  font-size: 1.1rem;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 5vh;

  .loader {
    width: 10rem;
    height: 10rem;
    border: 12px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}
