#ytb {

  .result {
    display: flex;

    > div {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 85vw;
      cursor: pointer;

      .title {
        display: flex;
        flex-direction: column;

        h4, p {
          margin: 5px 0 0 5px;
        }

        .channel_name {
          margin: 10px 0 5px 5px;
        }
      }
    }
  }
}
