.sec1 {
  display: flex;
  align-items: center;

  .cover {
    margin: 2rem 1rem;
    border-radius: 10px;

    width: 250px;
    height: 250px;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #label {
      color: var(--text);
      border: 1px var(--text) solid;
    }

    h1, h2 {
      color: var(--text);
      margin: 0;
    }

    h1 {
      font-size: 3rem;
      margin-top: 15px;
    }

    .artist {
      display: flex;
      margin: 20px 0 15px 0;

      h2 {
        font-weight: 100;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .artist_picture {
        border-radius: 50%;
        margin-right: 5px;
        width: 30px;
        height: 30px;
      }
    }

    p {
      color: var(--text);
      margin: 0;
    }

    .controls {
      display: flex;
      align-items: center;
      margin: 15px 0 0 0;

      #listen {
        all: unset;
        cursor: pointer;

        color: var(--text);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        border: 1px transparent solid;

        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 700;

        text-decoration: none;
        transition-property: background-color, border-color, color, transform;
        transition-duration: 200ms;

        border-radius: 40px;
        height: 30px;
        padding: 0 32px;

        background-color: var(--color);

        .logo_play {
          background: url("@/assets/images/icons/play.svg") no-repeat;
          background-size: 18px;
          width: 24px;
          height: 19px;
          filter: var(--base);

          margin-right: 5px;
        }
      }

      #like {
        all: unset;
        cursor: pointer;

        background: url("@/assets/images/icons/heart.svg") no-repeat;
        background-size: 26px;
        width: 26px;
        height: 24px;
        filter: var(--base);

        margin: 0 0 0 10px;
      }
    }
  }

  @media (max-width: 500px) {
    align-items: center;
    flex-direction: column;
  }

}

.sec2 {
  margin: 10px;

  h2 {
    color: var(--text);
  }

  .tracks {
    display: flex;
    flex-direction: column;
    margin: 10px;

    .track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      cursor: pointer;
      margin: 10px 0;

      &:hover {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 12px;
      }

      .details {
        display: flex;
        align-items: center;

        img {
          border-radius: 6px;
        }

        p {
          margin: 10px;
          color: var(--sub-text);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        margin: 5px;

        > div {
          margin: 5px;
        }

        #like_music {
          background: url("@/assets/images/icons/heart_empty.svg") no-repeat;
          background-size: 1.5rem;
          width: 1.5rem;
          height: 1.5rem;
          filter: invert(52%) sepia(7%) saturate(362%) hue-rotate(100deg) brightness(97%) contrast(88%);
        }

        #menu {
          background: url("@/assets/images/icons/menu.svg") no-repeat;
          background-size: 1.5rem;
          width: 1.5rem;
          height: 0.4rem;
          filter: invert(52%) sepia(7%) saturate(362%) hue-rotate(100deg) brightness(97%) contrast(88%);
        }
      }
    }
  }
}
