.header {
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 13.6vw;

  border-bottom: var(--separators) 1px solid;

  position: fixed;
  width: 87%;
  background: var(--main);

  .left {
    form {
      display: flex;
      align-items: center;

      margin: 7px;
    }

    .search-icon {
      background: url("@/assets/images/icons/search.svg") no-repeat;
      filter: var(--base);
      background-size: 2rem;
      width: 2rem;
      height: 2rem;

      cursor: pointer;
    }

    input {
      all: unset;

      margin: 7px;
      color: var(--text);
      width: 40vw;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    img {
      margin: 5px;
      border-radius: 50%;
    }

    h4 {
      color: var(--text);
      margin: 0 20px 0 10px;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
    margin-left: 0;
  }
}
