.queue {
  display: flex;
  margin: 5px;

  h3, p {
    color: white;
  }

  p {
    margin: 0 0 0 5px;
  }

  .list {
    overflow: auto;
    margin: 5px 0;

    .track {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 10px 5px;
      cursor: pointer;
      border-radius: 4px;

      .details {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          border-radius: 4px;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        margin: 5px;

        > div {
          margin: 5px;
        }

        #like_music {
          background: url("@/assets/images/icons/heart_empty.svg") no-repeat;
          background-size: 1.5rem;
          width: 1.5rem;
          height: 1.5rem;
          filter: invert(100%) sepia(7%) saturate(362%) hue-rotate(100deg) brightness(97%) contrast(88%);
        }

        #menu {
          background: url("@/assets/images/icons/menu.svg") no-repeat;
          background-size: 1.5rem;
          width: 1.5rem;
          height: 0.4rem;
          filter: invert(100%) sepia(7%) saturate(362%) hue-rotate(100deg) brightness(97%) contrast(88%);
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
