p {
  margin: 0;
  color: $text;
}

.trackbar {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;

  height: 12vh;
  width: 100%;

  border-top: $separators 1px solid;
  background: #272727;

  @media (max-width: 770px) {
    display: none;
  }
}

.infos {
  display: flex;
  align-items: center;

  .cover {
    width: 9vh;
    border-radius: 8px;
    margin: 0 1vw 0 2vw;
  }

  .track {
    display: flex;

    div p {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.progressbar {
  display: flex;
  flex-direction: column;

  width: 50vw;
  margin-left: 2vw;

  .controls {
    display: flex;
    justify-content: center;

  > div {
      width: 2rem;
      height: 2rem;
      margin: 5px;
      cursor: pointer;
    }

    #shuffle {
      background: url("@/assets/images/icons/shuffle.svg") no-repeat;
    }

    #backward {
      background: url("@/assets/images/icons/backward.svg") no-repeat;
    }

    #play {
      background: url("@/assets/images/icons/play.svg") no-repeat;
    }

    #forward {
      background: url("@/assets/images/icons/backward.svg") no-repeat;
      transform: rotate(180deg);
    }

    #repeat-mode {
      background: url("@/assets/images/icons/repeat.svg") no-repeat;
    }
  }

  .slider {
    width: 100%;
    display: flex;

    p {
      margin: 5px;
    }

    input {
      width: 100%;
      accent-color: $color;
    }
  }
}

.tools {
  display: flex;
  margin-left: 4vw;

  > div {
    width: 2rem;
    height: 2rem;

    cursor: pointer;
    margin: 10px;

    &:hover {
      fill: #fff;
      color: #fff;
    }
  }

  #like {
    background: url("@/assets/images/icons/heart_full.svg") no-repeat;
    background-size: 2rem;
    fill: #b3b3b3;
  }

  #lyrics {
    background: url("@/assets/images/icons/lyrics.svg") no-repeat;
    background-size: 2rem;
    fill: #b3b3b3;
  }

  #volume {
    background: url("@/assets/images/icons/volume.svg") no-repeat;
    background-size: 2rem;
    fill: #b3b3b3;
  }

  #arrow {
    background: url("@/assets/images/icons/arrow.svg") no-repeat;
    background-size: 2rem;
    margin-left: 5vw;
  }
}
