p {
  margin: 0;
  color: var(--text);
}

.trackbar {
  z-index: 7;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;

  height: 12vh;
  width: 100%;

  border-top: var(--separators) 1px solid;
  background: var(--sub-main);

  @media (max-width: $mobile) {
    display: none;
  }
}

.infos {
  display: flex;
  align-items: center;

  .cover {
    width: 9vh;
    border-radius: 8px;
    margin: 0 1vw 0 2vw;
  }

  .track {
    display: flex;
    flex-direction: column;
    width: 12vw;

    p {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.progressbar {
  display: flex;
  flex-direction: column;

  width: 50vw;
  margin-left: 2vw;

  .controls {
    display: flex;
    justify-content: center;

  > div {
      width: 2rem;
      height: 2rem;
      margin: 5px;
      cursor: pointer;
    }

    #shuffle {
      background: url("@/assets/images/icons/shuffle.svg") no-repeat;
      margin: 5px 15px;
    }

    #backward {
      background: url("@/assets/images/icons/backward.svg") no-repeat;
      filter: var(--base);
    }

    #play {
      background: url("@/assets/images/icons/play.svg") no-repeat;
      filter: var(--base);
    }

    #pause {
      background: url("@/assets/images/icons/pause.svg") no-repeat;
      filter: var(--base);
    }

    #forward {
      background: url("@/assets/images/icons/backward.svg") no-repeat;
      filter: var(--base);
      transform: rotate(180deg);
    }

    #repeat-mode {
      background: url("@/assets/images/icons/repeat.svg") no-repeat;
      margin: 5px 15px;
    }
  }

  .slider {
    width: 100%;
    display: flex;

    p {
      margin: 5px;
    }

    input {
      width: 100%;
      accent-color: var(--color);
    }
  }
}

.tools {
  display: flex;
  align-items: flex-end;
  margin: 0 1vw 0 4vw;

  > div {
    width: 2rem;
    height: 2rem;

    cursor: pointer;
    margin: 10px;

    &:hover {
      color: #fff;
    }
  }

  #like {
    background: url("@/assets/images/icons/heart_full.svg") no-repeat;
    background-size: 2rem;
  }

  #lyrics {
    background: url("@/assets/images/icons/lyrics.svg") no-repeat;
    background-size: 2rem;
    filter: var(--base);
  }

  #playlist {
    background: url("@/assets/images/icons/playlist.svg") no-repeat;
    background-size: 2rem;
    filter: var(--base);
  }

  .volume_wrapper {

    &:hover .volume_popover {
      z-index: 10;
      opacity: 1;
      visibility: visible;
      transform: translate(0, -20px);
      transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    }

    #volume {
      background: url("@/assets/images/icons/volume.svg") no-repeat;
      background-size: 2rem;
      width: 2rem;
      height: 2rem;
      filter: var(--base);
    }

    .volume_popover {
      opacity: 0;
      visibility: hidden;

      position: relative;
      bottom: 3rem;
      right: 4.2rem;
      width: 10rem;
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border: var(--color) 2px solid;
      border-radius: 15px;
      background: var(--main);

      #volume_slider {
        margin: 0;
        accent-color: var(--color);
      }
    }
  }

  #arrow {
    background: url("@/assets/images/icons/arrow.svg") no-repeat;
    background-size: 2rem;
    margin-left: 5vw;
    filter: var(--base);

    transition: transform 1s;
  }

  .rotate {
    transform: rotate(180deg);
  }
}
