@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  --main: #171717;
  --sub-main: #272727;
  --separators: #7A8580;

  --color: #EE4950;

  --text: #FFFFFF;
  --sub-text: #AFB6B3;

  --effect: invert(100%) sepia(4%) saturate(0%) hue-rotate(305deg) brightness(104%) contrast(100%);
  --base: invert(100%) sepia(8%) saturate(7489%) hue-rotate(291deg) brightness(112%) contrast(103%);
  --unused: invert(79%) sepia(0%) saturate(68%) hue-rotate(323deg) brightness(92%) contrast(86%);
  --gradient: linear-gradient(to right, #323437 0%, #404146 20%, #2d2e31 40%, #323337 100%);
}

html[data-theme='light'] {
  --main: #f0f2f4;
  --sub-main: #e2e4e9;
  --separators: #c4c9d4;

  --color: #EE4950;

  --text: #21242c;
  --sub-text: #2b303b;

  --effect: invert(0%) sepia(90%) saturate(7460%) hue-rotate(127deg) brightness(110%) contrast(110%);
  --base: invert(0%) sepia(0%) saturate(0%) hue-rotate(338deg) brightness(104%) contrast(108%);
  --unused: invert(79%) sepia(0%) saturate(68%) hue-rotate(323deg) brightness(92%) contrast(86%);
  --gradient: linear-gradient(to right, #323437 0%, #404146 20%, #2d2e31 40%, #323337 100%);
}

$mobile: 985px;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background: var(--main);
}

#app {
  display: grid;
  grid-template-columns: 100%;
}

main {
  background: var(--main);
  margin: 8.6vh 5px 12vh 14vw;

  @media (max-width: $mobile) {
    margin: 8.6vh 5px 12vh 5px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--sub-main);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.sub-text {
  color: var(--sub-text);
}

.magic-enter-active,
.magic-leave-active {
  transition: opacity 0.5s ease;
}

.magic-enter-from,
.magic-leave-to {
  opacity: 0;
}
