@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$main: #171717;
$sub-main: #272727;
$separators: #7A8580;

$color: #EE4950;

$text: #FFFFFF;
$sub-text: #AFB6B3;

$effect: invert(32%) sepia(47%) saturate(4281%) hue-rotate(336deg) brightness(105%) contrast(86%);
$white: invert(100%) sepia(1%) saturate(7497%) hue-rotate(151deg) brightness(102%) contrast(100%);

$mobile: 985px;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background: $main;
}

#app {
  display: grid;
  grid-template-columns: 100%;
}

main {
  background: $main;
  margin: 7.6vh 5px 12vh 14vw;

  @media (max-width: $mobile) {
    margin: 8.6vh 5px 12vh 5px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.sub-text {
  color: $sub-text;
}
